#about {
  margin-top: 0vh;
}

.about__container {
  display: grid;
  grid-template-columns: 45% 40%;
  gap: 10%;
  padding-left: 7vw;
  padding-right: 7vw;
  height: auto;
}

.about__me {
  margin-top: 4vh;
  width: 33vw;
  aspect-ratio: 1/1;
  border-radius: 1.7vw;
  background: linear-gradient(
    45deg,
    transparent,
    var(--color-primary),
    transparent
  );
  display: grid;
  transform: scaleX(-1);
  place-items: center;
  height: auto;
}

.about__me-image {
  border-radius: 1.7vw;
  overflow: hidden;
  transform: rotate(10deg);
  transition: var(--transition);
  height: 100%;
  width: 100%;
  display: flex; /* Ensures flex container properties */
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  width: 100%;
  object-fit: contain;
  object-position: top;
}

.about__me-image img {
  max-height: 100%;
  object-position: center top;
}

.about__me-image:hover {
  transform: rotate(0);
}

.about__content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  color: var(--color-light);
}

.about__content > * {
  height: 100%;
  color: var(--color-light);
}

.about__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5vw;
  height: fit-content;
}

.about__card {
  background: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 1.7vh;
  padding: 1.7vw;
  text-align: center;
  width: 100%;
  height: 100%;
}

.about__card:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.about__icon {
  color: var(--color-primary);
  font-size: 5vh;
  margin-bottom: 1.5vh;
}

.about__card h5 {
  font-size: 1.5vh;
}

.about__card small {
  font-size: 1.25vh;
  color: var(--color-light);
}

#about_me_paragraphs {
  margin-top: 1vh;
  text-align: left;
  text-indent: 20px;
}

.about__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  padding-top: 2vh;
}

/* ==================== Media Queries (Medium Devices) ========================*/

@media screen and (max-width: 1024px) {
  .about__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30% 65%;
    /* gap: 10%; */
    padding-left: 7vw;
    padding-right: 7vw;
    height: auto;
    align-items: center;
    justify-items: center;
  }

  .about__me {
    height: 100%;
  }

  .about__me img {
    height: 100%;
    border-radius: 1.7vw;
  }
}

/* ==================== Media Queries (Small Devices) ========================*/

@media screen and (max-width: 800px) {
  #about {
    height: auto;
    width: 100vw;
  }

  .about__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr;
    gap: 0;
    margin-bottom: 10vh;
  }

  .about__me {
    border-radius: 1.7vh;
    width: 33vw;
    margin: 2rem auto 4rem;
    height: 25vh;
    transform: scaleX(-1);
  }
}
